# Treat image files as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# Treat video files as binary (optional, if small enough for repo)
*.mp4 binary

# Treat fonts as binary
*.otf binary
*.ttf binary
